.ui-input__group {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  padding-left: 1rem;
  width: 33.5%;
}

.ui-input__input {
  display: block;
  padding: 10px 30px;
  min-width: 130px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text);
  background-color: var(--light-background);
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  caret-color: var(--primary);
}

.ui-input__input-pad-0 {
  display: block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text);
  background-color: var(--light-background);
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* hide chrome calendar */
input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 30%;
  left: -12px;
  opacity: 0;
  padding: 10px;
}

.ui-input__icon {
  color: var(--primary);
  text-align: center;
  position: absolute;
  top: 53%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 20px;
  display: inline-block;
}

.ui-input__label {
  position: absolute;
  top: 0;
  left: 50px;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
  padding-top: 1rem;
}

.ui-input__helper-text {
  position: absolute;
  bottom: -20px;
}
