.job-details {
  border-radius: 6px;
  background-color: var(--light-background);
  padding: var(--spacing-md) var(--spacing-sm);
}

.job-details__position {
  color: var(--main-text);
}

.job-details__posted {
  color: var(--faded-text);
}

.job-details__location {
  color: var(--accent-text);
}

.job-details__posted-oval {
  display: inline-block;
  margin: 0 12px 2px 12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--faded-text);
}

.job-details__apply .ui-button {
  width: 100%;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
}

.job-details__requirements {
  margin: var(--spacing-md) 0;
}

.job-details__requirements-heading {
  color: var(--main-text);
}

.job-details__requirements-list {
  list-style-type: none;
  margin-top: var(--spacing-md);
  padding: 0;
}

.job-details__requirements-wrapper {
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 10fr;
}

.job-details__requirements-item {
  display: flex;
  margin: 8px 1rem 0 0;
}

.job-details__requirements-oval {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--primary);
}
