.job-card {
  position: relative;
  background-color: var(--light-background);
  border-radius: 6px;
  padding: var(--spacing-lg) var(--spacing-sm) var(--spacing-sm)
    var(--spacing-sm);
  text-decoration: none;
}

.job-card__top {
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-card__details {
  margin: 0;
  color: var(--faded-text);
}

.job-card__details-oval {
  display: inline-block;
  margin: 0 12px 2px 12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--faded-text);
}

.job-card__position {
  margin: 8px 0 8px 0;
  color: var(--main-text);
}

.job-card__location {
  color: var(--accent-text);
  margin: var(--spacing-md) 0 0 0;
}
