.search-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: var(--light-background);
  margin-top: -25px;
  border-radius: 6px;
  align-items: center;
  height: 60px;
}
